@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');
#logo a{
    text-decoration: none;
    color:gold;
    font-size: 3.5em;
    font-family: 'Luckiest Guy', cursive;
    display: inline-block;
    padding: 30px 0;
}